### Very basic css definitions to layout the page.

.inputRow {
    display: inline-flex;
    flex-direction: row;
    width = 100%
}

.inputDifficultySlider {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.inputLengthSlider {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plotLeft {
    flex: 1;
}

.plotRight {
    flex: 1;
}

.plotRow {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.sliderRow {
    display: inline-flex;
    flex-direction: row;
    width = 60%
}