### Very basic css definitions to layout the page.

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputRow {
    display: inline-flex;
    flex-direction: row;
    width = 100%
}

.inputDifficultySlider {
    flex: 1;
    margin: {"l": 20; "b": 0, "t": 0, "r": 20};
}

.inputLengthSlider {
    flex: 1;
    height: 200;
    width: 600;
}

.plotLeft {
    flex: 1;
}

.plotRight {
    flex: 1;
}

.plotRow {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

