### css definitions to layout the page

.pageContainer {
    display: flex;
    flex-direction: column;
}

.plotRow {
    display: inline-flex;
    flex-direction: row;
}

.sliderColumn {
    display: flex;
	flex: 50%;
    flex-direction: column;
}
